.App{
    border: 1px solid gray;
    height: 98vh;
    
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.productlist{
     border: 1px solid gray;
     
     height: 90vh;
     display: grid;
     grid-template-columns: repeat(2,1fr);
     overflow: scroll;
     /* background-color: black;
     color: white; */
}
.cartcontainer{
    border: 1px solid gray;
    width: 50%;
    height: 90vh;
    margin: 2px;
    overflow-y: scroll;
}
.card{
    width: 350px;
    border: 1px solid green;
    text-align: center;
    padding: 20px;
}
.card .img,div{
 padding: 5px;
}

.cartitem{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    height: 90px;
    border-radius: 8px;
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.10);
}
.cart-total{
  width: 83px;
  padding-top: 27px;
  text-align: right;
  font-size: 16px;
  color: #43484D;
  font-weight: bold;

}

.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

